@charset "utf-8";
/* 툴팁 */
#modal{
    position:absolute;
    /* top:0;left:0; */
    border:1px solid #ccc; border-radius:8px;
    background:#fff;
    box-shadow:0 0 5px rgba(0,0,0,.1);
    transition:opacity .5s;
}

    /* off */
    #modal.off{
        opacity:0;
        pointer-events:none;
    }
#btn-modal-close{
    display:block;
    position:absolute;
    top:0;right:0;
    width:35px;aspect-ratio:1/1;
    background:transparent;border:none;
    font-weight:bold; color:#999;
}

#modal-head{
    text-align:center;
    padding:1em; padding-bottom:.5em;
}

#modal-body{
    position:relative;
    padding:0 1.5rem;
}

/* 하이라이터 */
#highlighter{
    position:absolute;
    top:0;left:0;
    border:3px solid #000;
    box-shadow:0 0 0 200vmax rgba(0,0,0,.5);
    cursor:pointer;
    transition:opacity .5s;
}

    #highlighter.off{
        opacity:0;
        pointer-events:none;user-select:none;
    }